


/* --------------------------------------
   Layout
   -------------------------------------- */
   #head{
      background:#efeded;
   }


/* --------------------------------------
   Typography
   -------------------------------------- */
   .glyphicon{
      margin-right: 10px;
      margin-left: 10px;
   }


/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
  #myCarousel {
   margin-top: 60px;
   margin-right:-50px;
}

#try{
   margin-left: -50px;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
   background: url('../../images/background.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/background.jpg') top center no-repeat;
}

#slide3 {
   background: url('../../images/background.jpg') top center no-repeat;
}



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}